
.Row{
    background-color: white;
    border:  solid 1px #333;
    border-radius: 3px;
    margin: 10px;
    min-width: 30%; 
    max-width:30%;  
    min-height: 200px;
    padding-top: 10px;
    position: relative;
    overflow: hidden;
}

.Row-Container{
    padding: 20px;
    margin-bottom: 50px;
}

.Row-Container-text{
    line-height: 25px;
    font-size: 14px;
}

.Row-Container-title{
    margin-top: 10px;    
    color: #333;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.Row-Container-title:hover{
    font-weight: bolder;
    color: #000;
}


.Row-footer{
    position: absolute;
    bottom: 0px;
    background-color: #eee;
    height: 50px;
    width: 100%;
    border:  solid #333 1px ;
    border-top-width: 1px !important;
    border-bottom-width: 0px !important;
    border-left-width: 0px !important;
    border-right-width: 0px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    /* bordebo */
}

.Row-footer svg{
    margin-right: 20px;
    width: 25px;
    height: 25px;
}

