


.list-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.modal-header{
    width: 100%;
    justify-content: center;
    position: relative;
    font-size: 20px;
    font-weight: bold;
    padding-left: 12px;
}

.modal-container{
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
}

.ReactModal__Content{
    padding: 0px !important;
}
.input{
    margin-top: 10px;
    height: 35px;
    width: 80%;
    border: solid 1px #333;
    border-radius: 3px;
    font-size: 18px;
    padding-left: 10px;
}
.textarea{
    margin-top: 10px;
    height: 80px;
    width: 80%;
    border: solid 1px #333;
    border-radius: 3px;
    font-size: 18px;
    resize: none;
    padding-left: 10px;
padding-top: 5px;
}

.add{
    background-color: #333;
    border-radius: 4px;
    color: white;
    padding:10px 20px 10px 20px;
    cursor: pointer;
    border: #333 1px solid;
}

.cansel{
    border: #333 1px solid;
    border-radius: 4px;
    color: #333;
    padding:10px 20px 10px 20px;
    cursor: pointer;   
    margin-right: 10px;
}