
.header{
    height: 70px;
    background-color: #333;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-title{
    color: white;
    font-size: 24px;
    margin-left: 20px;
    font-weight: bold;
    cursor: pointer;
}

.menu-list{
    display: flex;
    flex-direction: row;
    margin-left: 20px;
}

.menu-list div{
    margin-left: 20px;
    color: white;
    font-size: 15px;
    cursor: pointer;
}

.menu-list-active{
    font-weight: 600;
    color: black !important;
}


.menu-list div:hover{
    color: black;
}







